body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #7f8c8d;
    color: black;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

.highlight {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    color: blue;
    cursor: pointer;
}

.icon i {
    font-size: 2em;
    margin-bottom: 5px;
}
